<html lang="en">

  <%- include('./partials/head.ejs')%>

<body>
  <%- include('./partials/nav.ejs')%>

    <div class="about content">
     <h2 class="about-title"> About Blogs </h2>  
     <br>
         
     <p class="about-body">

      Hi! my name is Lhorena Jane L. Deiparine, an aspiring UI/UX Developer. Something about me is that I want to explore more on what is UI/UX Development all about. <br>
      I can say that I am a persevering person and I love to explore on what is more of my passion and capabilitie. <br> <br>I am a jolly person and I love to communicate with others and to know more about themself. I also do hiking and play computer games. I call myself as a "nature loving" person.<br>
      I always love to see the sunset every end of the day which gives me inspiration to live more and see what is beyond.

      <br> <br> 

      I also want to thank NetNinja, because of his course about Node Js I was able to establish this blog website. You can check out his course through this <a href="https://www.youtube.com/watch?v=zb3Qk8SG5Ms&list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU&ab_channel=TheNetNinja" target="_blank">link</a>. <br>All of the resources that are used in this website is credits to NetNinja.
      </a> <br><br><br><br>  </p>
         
     
    </div>
  <%- include('./partials/footer.ejs')%>
</body>
</html>